/* list your property starts from here */
fieldset, legend {
  margin-bottom: 20px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

.custom-checkbox {
  overflow: visible!important;
  position: relative!important;
  opacity: 1!important;
  float: none!important;
  width: auto!important;
  height: auto!important;
}
.custom-control {
  position: relative;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 20px;
  padding-left: 20px;
  margin-right: 1rem;
  cursor: pointer;
}
/* ends from here */